* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_text {
    font-weight: bold;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 90%;
    max-width: 1000px;
    position: fixed;
    bottom: 20px ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    left: 50%;
    transform: translateX(-50%);
  }
  

#response {
    max-width: 1000px;
    transform: translateX(-50%);
    left: 50%;
    position: fixed;
    bottom: 40px;
    height: calc(100vh - 200px);
    width: 90%;
    margin: 20px auto;  
    border-radius: 50px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    overflow: hidden;
}

.chat_form {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.inputfield {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 35px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    flex-grow: 1;
    margin-right: 20px;
    
}

.button {
    border: none;
    color: white;
    margin: 10px;
    padding: 10px 32px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border-radius: 50px;
    cursor: pointer;
    flex-shrink: 0;
}

#submit_chat_input {
    margin: 0px;
}
  
