/* TODO: make messaged not cover input bar, change response box size? */
/* TODO: make input bar get bigger if you type more than it takes */

html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}
  
div {
    margin: 0;
    padding: 0;
}


.header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    height: 50px;
    width: auto;
}

.header_text {
    font-weight: bold;
}

.input-container {
  margin-top: 50px;
}

/* Dropdown menu */
.dropdown {
  float: right;
  margin: 0 0 0 auto;
}

.dropbtn {
  font-size: 1em;
  border: none;
  outline: none;
  background-color: black;
  color: black;
  padding: 0.5em;
  background-color: inherit;
  font-family: inherit;
  width: 7em;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  font-size: 1em;
  width: 7em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  text-align: center;
  display: block;
}

.dropdown:hover .dropbtn {
  font-weight: bold;
  color: black;
}

.dropdown-content a:hover {
  background-color: #a9a9a9;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.response-box {
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  width: 90%;
  height: calc(100vh - 150px);
  border-radius: 20px;
  box-shadow: 0 0px 30px rgb(188, 187, 187);
  overflow: auto;
  resize: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.input-form {
  position: absolute;
  bottom: 11px;
  left: 5.25%;
  width: 89.5%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 0 0px 30px rgb(188, 187, 187);
}


.inputfield {
  bottom: 0px;
  width: 93%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: grey;
  border-width: 1px;
  border-radius: 35px;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1em;
  font-weight: bold;
  flex-grow: 1;
  margin-right: 0px;
}

.button {
  position: absolute;
  right: 1px;
  bottom: 1px;
  border: none;
  color: white;
  margin: 10px;
  padding: 8px 32px;
  font-size: 16px;
  background-color: rgb(52, 88, 186);
  border-radius: 50px;
  font-weight: bold;
  cursor: pointer;
  flex-shrink: 0;
  z-index: 2;
}

#submit_chat_input {
  margin: 0px;
}

.message {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0 0px 10px rgb(188, 187, 187);
  color: #000;
  font-size: 16px;
  margin: 10px;
  padding: 10px 20px;
  max-width: 70%;
}

.message-input {
  background-color: rgb(190, 207, 255);
  text-align: right;
  /* if this is a new div inside response-box how can I alsign it to the right side of response-box */
  align-self: flex-end;
}

.message-content {
  margin: 0;
}

.message-timestamp {
  font-size: 12px;
  color: #999;
  margin: 0;
}
  
  /* add media queries for smaller screens if needed */
  /* TODO: need to fix so works on mobile */
  @media (max-height: 768px) {

    .header_logo {
      height:120%;
      width: auto;
   }
  
    .header_text {
      font-size: 200%;
    }
  }
  @media (max-height: 480px) {
    .response-box {
      max-width: 100%;
    }
  }
