html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    height: 100%;
}
  
.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
  
.response-container {
    width: 100%;
    max-width: 1000px;
    margin-bottom: 20px;
}
  
#response {
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
}
  
.input-container {
    width: 100%;
    max-width: 1000px;
}
  
.chat_form {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.inputfield {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 35px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    flex-grow: 1;
    margin-right: 20px;
}
  
.button {
    border: none;
    color: white;
    margin: 10px;
    padding: 10px 32px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border-radius: 50px;
    cursor: pointer;
    flex-shrink: 0;
}

#submit_chat_input {
    margin: 0px;
}
  