html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_text {
    font-weight: bold;
}

.intro {
    padding: 0px 10px;
}

.login {
    background-color: white;
    width: 45%;
    margin: 3em auto 2em auto;
    border-radius: 50px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    overflow: hidden;
}

.login_logo {
    width: 60%;
    margin: 10% 20% 5% 20%;
}

.login_prompt {
    text-align: center;
    font-size: 1.75em;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
input {
    box-sizing: border-box;
    width: 100%;
}

.login_form {
    text-align: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form_field {
    margin: 15px;
    width: 60%;
}

.inputfield {
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 35px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
}

.button {
    border: none;
    color: white;
    margin: 20px;
    padding: 10px 32px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border-radius: 50px;
    cursor: pointer;
}

.register {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.intro {
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.intro h1 {
    font-size: 4em;
    margin: 0.2em;
}

.descriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight:medium;
    margin-bottom: 80px;
}

.descriptions h3{
    margin: 1em;
    font-size: 2em;
    border-collapse: collapse;
}

.descrptionBox {
    border-radius: 35px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    padding: 2em;
    margin: 2em auto;
    max-width: 60%;
}
  
.descrptionBox h3:first-of-type {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Styles for the second h3 description */
.descrptionBox h3:last-of-type {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    p {
        font-size: 20px;
    }

    .intro h1 {
        font-size: 2.5em;
    }

    h3 {
        font-size: 25px;
    }

    .header {
        height: 80px;
    }

    .descriptions h3{
        margin: 10px;
        font-size: 25px;
    }
  
    .login{
        width: 90%;
        margin-top: 45px;
    }

    .form_field {
        width: 90%;
    }

    input {
        height: 60px;
    }

    .inputfield {
        font-size: 20px;
    }

    .button {
        margin: 20px;
        padding: 10px 35px;
        font-size: 20px;
    }

    .intro {
        max-width: 100%;
    }

    .descrptionBox {
        padding: 1.5em;
        margin: 1.5em;
        max-width: 90%;
    }
    
}