.content {
    margin: 20px 10px;
}

.history_box {
    border: solid 1px grey;
    border-radius: 15px;
    width: auto;
    min-height: 4em;
    margin: 0em 1em 1em 1em;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
}

.history_summary {
    float: left;
    margin: 1em;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.datetime {
    margin: 0px;
    width: 100%;
    font-size: 0.83em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chat_number {
    margin:0px;
    width: 100%;
    font-size: 0.7em;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.view_chat {
    float: right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 17px;
    border: 1px solid #00418d;
    color: #00418d;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    .view_chat {
        margin-top: auto;
    }
}