html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    line-height: 1.5;
}

.header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_text {
    font-weight: bold;
}

.content {
    margin: 20px 10px;
}

.history_box {
    border: solid 1px grey;
    border-radius: 15px;
    width: auto;
    min-height: 4em;
    margin: 0em 1em 1em 1em;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
}

.history_summary {
    float: left;
    margin: 1em;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
}

.datetime {
    margin: 0px;
    width: 100%;
    font-size: 0.83em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chat_number {
    margin:0px;
    width: 100%;
    font-size: 0.7em;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.view_chat {
    float: right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 17px;
    border: 1px solid #00418d;
    color: #00418d;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

/* Dropdown menu */
.dropdown {
    float: right;
    margin: 0 0 0 auto;
}
  
.dropbtn {
    font-size: 1em;    
    border: none;
    outline: none;
    background-color: black;
    color: black;
    padding: 0.5em;
    background-color: inherit;
    font-family: inherit;
    width: 7em;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    font-size: 1em;    
    width: 7em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
} 
 
.dropdown:hover .dropbtn {
    font-weight: bold;
    color: black;
}
  
.dropdown-content a:hover {
    background-color: #a9a9a9;
    color: black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.accountText {
    display: block;
}

#sidebaricon {
    display: none;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    .header {
        height: 50px;
    }

    p {
        font-size: 16px;
    }

    .view_chat {
        margin-top: 0px;
    }

    .dropdown-content {
        display: none;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    html {
        touch-action: manipulation;
    }

    .accountText {
        display: none;
    }
    
    #sidebaricon {
        display: block;
    }
}