html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    width: 100%;
    height: 60px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: flex-start;
    align-items: center;
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_text {
    font-weight: bold;
}

.history_box {
    border: solid grey;
    width: auto;
    height: 4em;
    margin: 1em;
}

.history_summary {
    float:left;
    margin: 1em;
    padding: 0px;
}

.datetime {
    margin:0px;
    size: 1.5em;
}

.chat_number {
    margin:0px;
    size:1em;
}

.view_chat {
    float:right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    padding:1em;
    Margin:0.5em 1em 0.5em 0em;
}