.input-container {
    margin-top: 70px;
    position: relative;
    z-index: 2;
}

.response-box {
    /* position: relative; */
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: calc(100vh - 150px);
    border-radius: 20px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    background-color: white;
    overflow: auto;
    resize: none;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.input-form {
    position: absolute;
    bottom: 11px;
    left: 5.25%;
    width: 89.5%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: transparent;
    border-radius: 20px;
}

.chat-inputfield {
    bottom: 0px;
    width: 93%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    border-radius: 50px;
    padding: 0.5em 1em 0.5em 1em;
    font-size: 1em;
    font-weight: normal;
    flex-grow: 1;
    margin-right: 0px;

}

.chat-inputfield:focus {
  border: 2px solid rgb(52, 88, 186);
  outline: none;
}

.submit-button {
    position: absolute;
    right: 1px;
    bottom: 1px;
    border: none;
    color: white;
    margin: 10px;
    padding: 7.75px 32.5px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border: 1px solid rgb(52, 88, 186);
    border-radius: 30px;
    font-weight: normal;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 2;
}

.submit-button:hover {
    color: #00418d;
    background-color: aliceblue;
    border: 1px solid rgb(52, 88, 186);
}




.save-button {
    position: sticky;
    right: 8px;
    bottom: 1px;
    border: none;
    color: white;
    margin: 10px;
    padding: 7.75px 32.5px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border: 1px solid rgb(52, 88, 186);
    border-radius: 30px;
    font-weight: normal;
    cursor: pointer;
    flex-shrink: 0;
    z-index: 2;
    margin-left: 5%;
}

.save-button:hover {
    color: #00418d;
    background-color: aliceblue;
    border: 1px solid rgb(52, 88, 186);
}

.save-container {
    margin-top: 100px;
    position: relative;
    z-index: 2;
}

.save-container button {
    margin-right: 10px;
}

p {
    margin-left: 5%;
    line-height: 0.5;
    font-size: small;
    font-style: italic;
    position: revert;
}

#submit-chat-input {
    margin: 0px;
}

.message {
    background-color: #e6e6e6;
    border-radius: 20px;
    box-shadow: 0 0px 10px rgb(188, 187, 187);
    color: #000;
    font-size: 16px;
    margin: 15px 20px;
    padding: 10px 20px;
    width: fit-content;
    max-width: 70%;
    position:relative;
}

.message-input {
    background-color: rgb(190, 207, 255);
    text-align: right;
    /* if this is a new div inside response-box how can I alsign it to the right side of response-box */
    align-self: flex-end;
}

.message-input::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid rgb(190, 207, 255);;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(190, 207, 255);;
    border-bottom: 10px solid transparent;
    right: -12px;
    top: 6px;
}

.message-response::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid #e6e6e6;
    border-top: 10px solid #e6e6e6;
    border-bottom: 10px solid transparent;
    left: -12px;
    top: 6px;
}

.message-content {
    margin: 0;
}

.message-timestamp {
    font-size: 12px;
    color: #999;
    margin: 0;
}
  
  /* add media queries for smaller screens if needed */
  /* TODO: need to fix so works on mobile */
  @media (max-height: 480px) {
    .response-box {
      max-width: 100%;
    }
  }
