.content {
    margin: 0px 10px;
    padding: 20px 0px;
    overflow-y: scroll;
    max-height: 50em;
}

.heading {
    margin: 1em;
}
.history-box {
    border: solid 1px grey;
    border-radius: 15px;
    width: auto;
    min-height: 4em;
    margin: 0em 1em 1em 1em;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: aliceblue;
}

.history-summary {
    float: left;
    margin: 1em;
    padding: 0px;
    /* display: flex;
    flex-wrap: wrap; */
}

.datetime {
    margin: 0px;
    width: 100%;
    font-size: 0.83em;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.chat-number {
    margin:0px;
    width: 100%;
    font-size: 0.7em;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.view-chat {
    float: right;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 0.9em;
    padding: 0.5em 1em;
    margin: 17px;
    border: 1px solid #00418d;
    color: #00418d;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}

#icon {
    margin-right: 0.5em;
}

.view-chat:hover {
    background-color: #00418d;
    columns: white;
    border-color: white;
    color: white;
}
