span {
    font-family: "Open Sans", sans-serif;
    font-weight: 500;
}

.login {
    background-color: white;
    width: 45%;
    margin: 3em auto 3em auto;
    border-radius: 50px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    overflow: hidden;
}

.login-logo {
    width: 60%;
    margin: 10% 20% 5% 20%;
}

.login-prompt {
    text-align: center;
    font-size: 1.75em;
}

form {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login-form {
    text-align: center;
    margin: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-field {
    margin: 15px;
    width: 50%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.inputfield {
    width: 100%;
    padding: 0.5em 1em 0.5em 1em;
    border:1px solid grey;
    border-radius: 50px;
    outline: none;
    font-size: 0.8em;
}

.button {
    border: none;
    color: white;
    margin: 20px;
    padding: 10px 32px;
    font-size: 16px;
    background-color: rgb(52, 88, 186);
    border-radius: 50px;
    cursor: pointer;
}

.button:hover {
    color: #00418d;
    background-color: aliceblue;
    border: 1px solid rgb(52, 88, 186);
}

.register {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    margin:1em;
}

#pw-message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 0px 20px;
    /* margin-top: 10px; */
    text-align: left;
    width: 60%;
}
  
#pw-message p {
    font-size: 12px;
    line-height: 2;
}

.intro {
    padding: 0px 10px;
    text-align: center;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    font-weight: bold;
}

.intro h1 {
    font-size: 4em;
    margin: 0.2em;
    margin-bottom: 0.75em;
}

.descriptions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight:medium;
    margin-bottom: 80px;
    margin-top: 1.5em;
}

.descriptions h3{
    margin: 1em;
    font-size: 2em;
    border-collapse: collapse;
}

.description-boxes {
    width: 60%;
}

.description-box {
    border-radius: 35px;
    box-shadow: 0 0px 30px rgb(188, 187, 187);
    padding: 2em;
    margin: 2em auto;
    max-width: 100%;
}
  
.description-box h3:first-of-type {
    font-size: 24px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0px;
    margin-bottom: 10px;
}

/* Styles for the second h3 description */
.description-box h3:last-of-type {
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
  }
  
.valid:before {
    position: relative;
    left: 0px;
    content: "✔";
    padding-right: 5px;
}
  
  /* Add a red text color and an "x" when the requirements are wrong */
.invalid {
    color: grey;
}
  
.invalid:before {
    position: relative;
    left: 0px;
    content: "●";
    padding-right: 5px;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    h3 {
        font-size: 20px;
    }
  
    .login{
        width: 90%;
        margin-top: 30px;
    }

    .login-prompt {
        font-size: 1.5em;
    }

    .form-field {
        width: 85%;
    }

    .inputfield {
        font-size: 16px;
        height: 24px;
    }

    .button {
        margin: 20px;
        padding: 10px 35px;
        font-size: 16px;
    }

    .intro h1 {
        font-size: 2.5em;
    }

    .descriptions h3{
        margin: 10px;
        font-size: 25px;
    }

    .intro {
        max-width: 100%;
    }

    .description-boxes {
        width: 90%;
    }

    .description-box {
        padding: 1.5em;
        margin: 1.5em;
        max-width: 100%;
    }

    #pw-message {
        width: 85%;
    }
}