html, body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}
  
div {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    line-height: 1.5;
}

.header {
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    height: 100%;
    width: auto;
}

.header_text {
    font-weight: bold;
    width: 100%;
}

/* Dropdown menu */
.dropdown {
    /* float: right; */
    /* margin: 0 0 0 auto; */
}
  
.dropbtn {
    font-size: 1em;    
    border: none;
    outline: none;
    background-color: black;
    color: black;
    padding: 0.5em;
    background-color: inherit;
    font-family: inherit;
    width: auto;
}
  
.dropdown-content {
    position: absolute;
    width: auto;
    height: auto;
    right: 2px;
    top: 40px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
    border-radius: 8px;
    padding: 5px;
    display: none;
    z-index: 10;
}
  
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    border-radius: 8px;
    display: block;
} 
 
.dropdown:hover .dropbtn {
    font-weight: bold;
    color: black;
}
  
.dropdown-content a:hover {
    background-color: #a9a9a9;
    color: white;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

.accountText {
    display: flex;
}

.accountText>i {
    width: 25px; 
    height: 25px;
    background-color: gray; 
    border-radius: 50px;  
    text-align: center;
    margin-right: 5px; 
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

#sidebaricon {
    display: none;
}

footer {
    text-align: center;
    background-color: rgb(240, 240, 240);
    padding: 0.5em;
}

.about-us {
    background-color: rgb(240,240, 240);
    padding: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-box {
    text-align: center;
    width: 30%;
    padding: 1em 0em 1em 1em;
    background-color: rgb(240, 240, 240);
}

.heading {
    margin-bottom: 0.5em;
    font-size: 1.5em;
    font-weight: bold;
    text-align: left;
}

.footer-box p {
    padding-bottom: 0.5em;
    font-size: 1em;
    text-align: left;
}

@media only screen and (max-width: 768px), (orientation: portrait) {
    .header {
        height: 50px;
    }

    p {
        font-size: 16px;
    }

    .dropdown-content {
        display: none;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    html {
        touch-action: manipulation;
    }

    .accountText {
        display: none;
    }
    
    #sidebaricon {
        display: block;
    }
}