<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>UWA FAQ Chat</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/UWA_Logo_Small.png') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/base_styles.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
        {% block styles %}
        {% endblock %}
    </head>
    <body>
        <div class="header">
            <a class="header-link" href="{{url_for('intro.index')}}"><img id="header-logo" class="header-logo" src="{{ url_for('static', filename='images/UWA_Logo_Small.png')}}" alt="UWA logo"></a>
            <h3 class="header-text"> FAQ chat </h3>
            
            {% if display %}
                <div class="dropdown" >
                    <div class="dropbtn">
                        <i class="fas fa-bars" id="sidebaricon"></i>
                        <p class="accountText"><i class="fas fa-user"></i>{{ username }}<p>
                    </div>
                    <div class="dropdown-content">
                        <div id="chat-btn" onclick="location.href = '/chat';">Chat</div>
                        <div id="hist-btn" onclick="location.href = '/history';">History</div>
                        <div onclick="logout()">Logout</div>
                    </div>
                </div>  
            {% endif %}
        </div>
        {% block content %}
        {% endblock %}

        {% block scripts %}
        {% endblock %}
        
        <div class="about-us">
            <div class="footer-box">
                <h1 class="heading">Help</h1>
                <p>
                    Contact us
                </p>
                <p>
                    Support
                </p>
            </div>
            <div class="footer-box">
                <h1 class="heading">About</h1>
                <p>
                    About us
                </p>
            </div>
            <div class="footer-box">
                <h1 class="heading">Privacy and Term</h1>
                <p>
                    Privacy
                </p>
                <p>
                    Our website terms
                </p>
            </div>
        </div>
        <footer>
            <p>&copy; 2023 Semester 1 CITS3403 Project</p>
            <p>By Vicky Chow, Hank Zhang, Murray Lewin, Laine Mulvay</p>
        </footer>
    </body>
</html>