{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_styles.css')}}">
{% endblock %}

{%block content%}
    <div id="response" class="response-box">
        <div class="message message-response">
            <p class="message-content">
                👋 Welcome to UWA's FAQ Chat Service! <br>
                <br>
                We're here to assist you with any questions or concerns you may have. 
                Whether you need help with enrollment, campus facilities, or academic programs, 
                we've got you covered. <br>
                <br>
                To ensure you have a record of our conversation, we recommend saving the chat history 
                by clicking on the "Save" button below. This way, you can easily refer back to our discussion at any time. <br>
                <br>
                <em>PLEASE NOTE </em>that chat will end after saving.<br>
                <br>
                Let's get started!
            </p>
            <p class="message-timestamp"></p>
        </div>
        <button id="save-button" class="save-button" onclick="sendText()">Save Chat</button>
    </div>
    <div class="input-container" id="input-container">
        <form class="input-form" id="input-form">
            <input class="chat-inputfield" type="text" id="chat-input-message" name="chat-input-message" placeholder="Ask me a question..." required>
            <button type="submit" class="submit-button" id="submit-chat-input">Send</button>
        </form>
    </div>

    {% block scripts %}
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    {% endblock %}
{% endblock %}