{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/chat_styles.css')}}">
{% endblock %}

{%block content%}
    <div id="response" class="response-box">
        <div class="message message-response">
            <p class="message-content">
                Hello! Ask me any question about UWA and I will try my best to answer it.
                Remember to save the chat if you want to keep it by pressing the save button below.
            </p>
            <p class="message-timestamp"></p>
        </div>
    </div>
    <div class="input-container">
        <form class="input-form" id="input-form">
            <input class="chat-inputfield" type="text" id="chat-input-message" name="chat-input-message" placeholder="Ask me a question..." required>
            <button type="submit" class="submit-button" id="submit-chat-input">Send</button>
        </form>
    </div>

    <button id="save-button" class="save-button" onclick="sendText()">Save Chat</button>

    {% block scripts %}
    <script src="{{url_for('static', filename='js/chat.js')}}"></script>
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    {% endblock %}
{% endblock %}