{% extends 'base.html'%}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
{% endblock %}
{%block content%}
    <div class="intro">
        <h1> UWA FAQ Chat System </h1>
        <a id="start-button" class="button" href="{{url_for('login.login')}}">
            Get Started
        </a>
        <div id="descriptions" class="descriptions">
            <h3> 
                An easy-to-use platform, which takes a instructive prompt and provides a detailed response. 
            </h3>
            <div class="description-boxes">
                <div class="description-box">
                    <h3> FAQ </h3>
                    <h3> 
                        Recieved detailed and personalised questions about anything, providing a informative answer to assist the user. 
                    </h3> 
                </div>
                <div class="description-box">
                    <h3> Prompt Responses </h3>
                    <h3>
                        Receive responses to your specific questions within seconds, reducing hours spent surfing the web and freeing up your time to get back to studying!
                    </h3>
                </div>
                <div class="description-box">
                    <h3> History </h3>
                    <h3> 
                        Creating an account allows you to quickly and easily access you previous conversations for reference.
                    </h3>
                </div>
            </div>
        </div>
    </div>
{%endblock%}
