{% extends 'base.html'%}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
{% endblock %}
{% block content %}
    <div class="intro">
        <h1> UWA FAQ Chat System </h1>
    </div>
    <div id="login" class="login">
        <img class="login_logo" src="{{ url_for('static', filename='images/UWA_Logo_Full.svg')}}" alt="UWA logo">
        <h1 class="login_prompt">Sign into your account</h1>
        {% if msg != '' %}
            <h1 style="color:red;font-size: medium;text-align: center;" > {{msg}} </h1>
        {% endif %}
        <form class="login_form" id="login-form" method="post">
            <div class="form_field">
                <input class="inputfield" type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form_field">
                <input class="inputfield" type="password" id="password" name="password" placeholder="Password" required>
                <i class="far fa-eye" id="showPassword" style="margin-left: -30px; cursor: pointer;"></i>
            </div>
            <div>
                <a style= "color: white; text-decoration: none;"><button type="submit" class="button">Sign in</button></a>
            </div> 

            <div style="margin: 10px 0px 20px 0px;">
                <a style= "color: white; text-decoration: none;" href="{{url_for('index')}}"><span class="button">Back</span></a>
            </div> 
            <div>
                <p class="register">Don't have an account?
                    <a href="{{url_for('register.register')}}">Register here</a>
                </p>
            </div>
        </form>
    </div>
    {% block script %}
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    {% endblock %}
{% endblock %}
