{% extends 'base.html'%}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
{% endblock %}
{% block content %}
    <div class="intro">
        <h1> UWA FAQ Chat System </h1>
    </div>
    {% with errors = get_flashed_messages(category_filter=["success"]) %}
        <p> {{message}} </p>
    {% endwith %}
    <div id="login" class="login">
        <img class="login-logo" src="{{ url_for('static', filename='images/UWA_Logo_Full.svg')}}" alt="UWA logo">
        <h1 class="login-prompt">Sign into your account</h1>
        <form class="login-form" id="login-form" method="post">
            <div class="form-field">
                <input class="inputfield" type="email" id="email" name="email" placeholder="Email Address" required>
            </div>
            <div class="form-field">
                <input class="inputfield" type="password" id="password" name="password" placeholder="Password" required>
                <i class="far fa-eye" id="showPassword" style="margin-left: 5px; cursor: pointer; float: right;"></i>
            </div>
            <div>
                <button id="signin-button" type="submit" class="button">Sign in</button>
            </div> 

            <div style="margin: 10px 0px 20px 0px;">
                <a id="back-button" style= "color: white; text-decoration: none;" href="{{url_for('intro.index')}}"><span class="button">Back</span></a>
            </div> 
            <div>
                <p class="register">Don't have an account?
                    <a id="register-link" href="{{url_for('register.register')}}">Register here</a>
                </p>
            </div>
        </form>
    </div>
    {% block script %}
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    {% endblock %}
{% endblock %}
