{% extends 'base.html' %}
{% block styles %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/login_styles.css')}}">
{% endblock %}
{% block content %}
    <div class="login">
        <img class="login-logo" src="{{ url_for('static', filename='images/UWA_Logo_Full.svg')}}" alt="UWA logo">
        <h1 class="login-prompt">Register a new account</h1>
        <form class="login-form" id="reg-form" method="post">
            <div class="form-field">
                <input class="inputfield" type="text" id="firstname" name="firstname" placeholder="First name" required>
            </div>
            <div class="form-field">
                <input class="inputfield" type="text" id="lastname" name="lastname" placeholder="Last name" required>
            </div>
            <div class="form-field">
                <input class="inputfield" type="email" id="email" name="email" placeholder="Email address" required>
            </div>
            <div class="form-field">
                <input class="inputfield" type="password" id="newPW" name="newPW" placeholder="Enter a new password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
                <i class="far fa-eye" id="showPassword1" style="margin-left: 5px; cursor: pointer; float: right;"></i>
            </div>
            <div id="pw-message">
                <p>Password must contain the followings:</p>
                <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
                <p id="capital" class="invalid">A <b>uppercase</b> letter</p>
                <p id="number" class="invalid">A <b>number</b></p>
                <p id="special" class="invalid">A <b>special character</b></p>
                <p id="length" class="invalid">Minimum <b>8 characters</b></p>
            </div>
            <div class="form-field">
                <input class="inputfield" type="password" id="confirmPW" name="confirmPW" placeholder="Confirm password" required>
                <i class="far fa-eye" id="showPassword2" style="margin-left: 5px; cursor: pointer; float: right;"></i>
            </div>
            
            <div>
                <button class="button" type="submit"> Register </button>
            </div>
            <div style="margin: 10px 0px 20px 0px;">
                <a style= "color: white; text-decoration: none;" href="{{url_for('login.login')}}"><span class="button">Back</span></a>
            </div>
        </form>
    </div>
    {% block script %}
    <script src="{{url_for('static', filename='js/scripts.js')}}"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
    {% endblock %}
    
{% endblock %}